# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

rubberband
rubberband-r3
test.py

# Miscellaneous
.DS_Store

# Extra files
*.log
*.exe
*.dll

# Project Related Files
token.pickle
*.pickle
*.code-workspace

# Misc Project Directories
Test*/
Testing
workingFolder
Outputs

# Directories
.vscode
.venv
.*
